

.fa-star{
	margin: 0.5em;
	font-size: 16px;
}

span{
	display: inline-block;
  margin: 0.5em;
  background-color: #ccc;
  text-align: center;
  width: 20px;
  border-radius: 50%;
  cursor: pointer;
}
.selected{
background-color:#f4f7f4;
color: #a1a3a1;
cursor: not-allowed;
}

.used{
background-color:#71bc6d;
color: #618c5f;
cursor: not-allowed;
}
